@import "bourbon";

$default-font: "MyriadSetProText", sans-serif;
$defoultFontSize: 16px;
$defaultLineHeight: 1.6;
$accent: orange;
$accent3: #17AC1A;
$accent2: #4CA1FF;
$textColor: #333333;
$textColorLight: #9C9C9C;
